<div class="con">
  <div class="main">
    <div class="chess-board">
      <div class="player-con">
        <div class="player-info">
          <img
            src="../../assets/images/user1/360_F_224869519_aRaeLneqALfPNBzg0xxMZXghtvBXkfIA.jpg"
            class="img-small"
            alt=""
          />
          <span class="nickname">Nickname</span>
        </div>
        <div class="timer black">10:00</div>
      </div>
      <app-chess-board
        [fenCode]="'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR'"
      ></app-chess-board>
      <div class="player-con">
        <div class="player-info">
          <img
            src="../../assets/images/user1/360_F_224869519_aRaeLneqALfPNBzg0xxMZXghtvBXkfIA.jpg"
            alt=""
            class="img-small"
          />

          <span class="nickname">Nickname</span>
        </div>
        <div class="timer white">10:00</div>
      </div>
    </div>
    <div class="side-bar">
      <div class="moves-con">
        <div class="move">
          <span class="turn">1.</span>
          <span (click)="sendReaction($event)" data-id="1">e4e6 </span>
          <span (click)="sendReaction($event)" data-id="2">e5e8</span>
        </div>
        <div class="move">
          <span class="turn">2.</span>
          <span>e4e6 </span>
          <span>e5e8</span>
        </div>
        <div class="move">
          <span class="turn">3.</span>
          <span>e4e6 </span>
          <span>e5e8</span>
        </div>
        <div class="move">
          <span class="turn">4.</span>
          <span>e4e6 </span>
          <span>e5e8</span>
        </div>
      </div>
      <div class="side-bar-bottom">
        <div class="buttons">
          <button class="backward"><</button>
          <button class="forward">></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="detail-con">
  <app-message [chessGame]="true" [reaction]="reaction"></app-message>
</div>
