<div class="con">
  <div class="main">
    <div class="chess-board">
      <div class="player-con">
        <div class="player-info">
          <img
            src="../../assets/images/user1/360_F_224869519_aRaeLneqALfPNBzg0xxMZXghtvBXkfIA.jpg"
            class="img-small"
            alt=""
          />
          <span class="nickname">Nickname</span>
        </div>
        <div class="timer black">10:00</div>
      </div>
      <app-chess-board
        [fenCode]="
          fenCode ? fenCode : 'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR'
        "
        (move)="_addMoveToGame($event)"
      ></app-chess-board>
      <div class="player-con">
        <div class="player-info">
          <img
            src="../../assets/images/user1/360_F_224869519_aRaeLneqALfPNBzg0xxMZXghtvBXkfIA.jpg"
            alt=""
            class="img-small"
          />

          <span class="nickname">Nickname</span>
        </div>
        <div class="timer white">10:00</div>
      </div>
    </div>
    <div class="side-bar">
      <div class="moves-con">
        <div
          class="move"
          *ngFor="
            let a of moves | slice : 0 : moves.length / 2 + 0.5;
            let i = index
          "
        >
          <span class="turn">{{ i + 1 }}.</span>
          <span (click)="sendReaction($event)">{{ moves[i * 2] }} </span>
          <span (click)="sendReaction($event)" *ngIf="moves[i + 1]">{{
            moves[i * 2 + 1]
          }}</span>
        </div>
      </div>
      <div class="side-bar-bottom">
        <div class="buttons">
          <button class="backward"><</button>
          <button class="forward">></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="detail-con">
  <app-message [chessGame]="true" [reaction]="reaction"></app-message>
</div>
