.modal-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
h3 {
  font-style: italic;
}
img {
  width: 40px;
  margin-bottom: 30px;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  position: absolute;
  right: 20px;
  top: 20px;
}
.close-btn > svg {
  fill: var(--gray);
}
.close-btn:hover {
  transform: rotate(-90deg);
}
label {
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: none;
  border: solid 2px var(--bs-body-color);
  border-radius: 10px;
  padding: 8px 14px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  align-items: center;
  color: white;
}
input.ng-invalid.ng-touched {
  border-color: red;
}

.submit-btn {
  background: var(--red-gradient);
  color: white;
  border: none;
  align-self: center;
  padding: 6px 18px;
  font-size: 1.3rem;
  border-radius: 10px;
  transition: all 0.3s;
  margin-top: 20px;
}
.submit-btn:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
.submit-btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.error-info {
  color: red;
}
.submit-btn.anon {
  background: var(--gray);
}
