<div class="board" [class.flip]="flipBoard">
  <div
    class="chess-tile"
    *ngFor="let tile of _boardInfo; let i = index"
    [class.dark]="tile.darkTile"
    [class.active]="_legalMoves.includes(i)"
    [attr.data-index]="i"
    [class.flip]="flipBoard"
  >
    <!-- <div class="overlay">
      {{ i }}
    </div> -->

    <img
      *ngIf="tile.pieceUrl"
      [src]="tile.pieceUrl"
      alt="Chess Piece"
      draggable="true"
    />
    <div
      class="arrow"
      *ngIf="tile.arrow"
      [style.height]="tile.arrow.arrowHeight"
      [style.transform]="tile.arrow.arrowTransform"
    ></div>
  </div>
</div>
