:host.edit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.con {
  width: 100%;
  height: 100%;
  display: flex;

  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
svg {
  fill: var(--bs-body-color);
  width: 30px;
  height: 30px;
}
.flex-row {
  display: flex;
  align-items: baseline;
}
.wrap {
  flex-wrap: wrap;
}
section {
  margin-bottom: 20px;
}
section.flex-row {
  justify-content: space-between;
}
input,
.input-field,
.flex-row > button,
.section-2 > button,
.next-btn,
.tag,
.radio-label,
textarea {
  background: none;
  border: solid 2px var(--bs-body-color);
  border-radius: 10px;
  padding: 8px 14px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  align-items: center;
  color: white;
  resize: none;
}
label.radio-label {
  cursor: pointer;
  margin: 0 10px;
  transition: background 0.3s;
}
label.active {
  background: var(--bs-body-color) !important;
}
input[type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
input[type="radio"]:checked {
  visibility: hidden;
}
input:focus {
  outline: none;
}
h1 {
  font-size: 2.8rem;
  font-style: italic;
}
label,
.label {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section {
  width: 100%;
  max-width: 1250px;
  display: flex;
}
section.flex-row > div {
  width: 47%;
}
/* 1 section - left */
.input-text {
  width: 100%;

  border: none;
  background: transparent;
}

input[type="number"] {
  text-align: center;
}
.flex-row > button {
  min-width: 15%;
  transition: background 0.3s;
}
button.active {
  background: var(--bs-body-color) !important;
}
button:disabled {
  color: gray !important;
  opacity: 0.3;
}
/* section 1 - right */
.height-100 {
  height: 100%;
  margin-top: 20px;
}
.grid {
  display: grid;
  gap: 13px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.photo-con {
  /* height: 250px; */
  border: solid 5px var(--bs-gray);
  border-style: dashed;
  position: relative;
  cursor: pointer;
  display: flex;
  aspect-ratio: 2/3;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
.button-add {
  background: var(--red-gradient);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -12px;
  padding-bottom: 6px;
  font-size: 2rem;
  margin-right: -12px;
  transition: transform 0.3s;
}
.button-add:hover {
  transform: scale(1.1);
}
.text-small {
  color: var(--bs-gray);
}
/* section 2 */
.section-2 {
  flex-direction: column;
  margin-bottom: 3rem;
}

.section-2 > button {
  width: 20%;
}
.flex-row > .grid {
  width: 100%;
}
.flex-row > .grid .photo-con {
  height: 200px;
  width: 200px;
}
.flex-row > .photo-con {
  width: 200px;
  height: 200px;
  margin-right: 26px;
  margin-bottom: 30px;
}
.flex-row > .photo-con:hover .button-chess {
  opacity: 1;
}
.wrap {
  flex-wrap: wrap;
}
.next-btn {
  margin-bottom: 100px;
  font-size: 2rem;
  background: var(--red-gradient);
  border: none;
  margin-right: 0;
  box-shadow: 5px 5px 8px 0px black;
}
.line {
  width: 50%;
  height: 3px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-body-color);
  margin-top: 20px;
}
h2 {
  background-color: var(--bg-main);
  text-align: center;
  font-style: italic;
  padding: 0 15px;
}
.tag {
  background-color: var(--bs-body-color);
  margin-top: 5px;
}
.reverse {
  flex-direction: row-reverse;
  align-items: center;
}
.button-chess {
  background: var(--red-gradient);
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6px;
  font-size: 2rem;
  z-index: 9;
  opacity: 0.5;
  top: -15px;
  transition: opacity 0.3s;
}
.button-chess > svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.button-edit {
  left: -15px;
}
.button-delete {
  right: -15px;
}
.game-name {
  top: 100%;
  position: absolute;

  text-align: center;
  right: -5px;
  left: -5px;

  display: block;
  border: solid 5px var(--bs-body-color);
}
.chess-con {
  border-style: solid;
}
/* validation */

div.input-field:has(input.ng-invalid.ng-touched) {
  border-color: red !important;
}
input[type="number"].ng-invalid.ng-touched {
  border-color: red;
}

/* RWD */
@media (max-width: 1300px) {
  section.flex-row {
    flex-direction: column !important;
  }
  section {
    align-items: center !important;
  }
  .section-2 > span,
  .section-2 > h2 {
    width: auto;
  }
  .wrap {
    width: 50%;
    justify-content: space-evenly;
  }
}

/* In edit mode */
.con.edit {
  width: 375px;
  height: 667px;
}
section.flex-row > div {
  width: 100%;
}
fieldset.edit {
  justify-content: space-evenly;
}
fieldset.edit > input[type="number"] {
  width: auto;
}
.edit-profile-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.edit-profile-info > * {
  display: block;
}

.fav-games-con.edit {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fav-games-con.edit > * {
  margin-bottom: 20px;
}
.fav-games-con.edit > *:has(.game-name) {
  margin-bottom: 45px;
}
.next-btn.edit {
  position: fixed;
  bottom: -2rem;
}
.btn-con {
  width: 375px;
  position: fixed;
  top: 3rem;
}
.btn-con > button {
  margin: 0;
  width: 50%;
  border-radius: 5px;
}
section.flex-row.edit {
  flex-direction: column-reverse !important;
}
.grid.edit > .photo-con {
  height: 130px;
}

.photo {
  border: none;
  border: solid 5px transparent;
  position: relative;
}
.user-pfp {
  position: absolute;
  inset: top10px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.button-remove-photo {
  background: var(--bs-gray);
  transform: rotate(45deg);
  padding-bottom: 8px;
  z-index: 3;
}

.photo-input {
  position: fixed;
  top: 1rem;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 2;
}
.scroll {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 7px;
  position: relative;
  margin-right: -33px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .scroll {
    margin-right: 0;
  }
  .flex-row > .photo-con {
    margin-right: 0;
  }
}
