<div class="hamburger-con">
  <button
    class="close"
    *ngIf="!showSidebar && collapse"
    (click)="showSidebar = true"
  >
    <div class="hamburger"></div>
  </button>
</div>

<div
  class="backdrop"
  *ngIf="showSidebar && collapse"
  (click)="showSidebar = false"
></div>
<div
  class="con"
  *ngIf="!collapse || (showSidebar && collapse)"
  [class.mobile-screen]="collapse"
>
  <button
    *ngIf="collapse"
    class="arrow-close close"
    (click)="showSidebar = false"
  >
    <div class="arrow"></div>
  </button>
  <div class="sidebar-top">
    <div
      class="profile-con"
      [routerLink]="editMode ? '../app' : 'edit-profile'"
      [class.edit]="editMode"
    >
      <img
        [src]="
          editMode
            ? '../../assets/images/logo-negative.png'
            : localUser.photos[0]
        "
        [class.edit]="editMode"
      />
      <span *ngIf="!editMode">{{ localUser.name }}</span>
    </div>
  </div>
  <div class="sidebar-bottom">
    <nav>
      <ul>
        <li class="active" (click)="matches = true" [class.active]="matches">
          Matches
        </li>
        <li (click)="matches = false" [class.active]="!matches">Messages</li>
      </ul>
    </nav>
    <div class="matches-con">
      <div class="matches" *ngIf="matches">
        <div
          class="user-item"
          *ngFor="let user of usersMatch"
          (click)="selectedUser = user; showSidebar = false"
          [routerLink]="['messages', user.id]"
          [class.inactive]="selectedUser && selectedUser != user"
        >
          <img src="{{ user.photos[0] }}" alt="User {{ user.name }} photo" />
          <span class="name">{{ user.name }}</span>
        </div>
      </div>
      <div class="messages" *ngIf="!matches">
        <div
          class="user-message-item"
          *ngFor="let user of usersMessage"
          [routerLink]="['messages', user.id]"
          (click)="selectedUser = user; showSidebar = false"
          [class.inactive]="selectedUser && selectedUser != user"
          [class.active]="selectedUser && selectedUser == user"
        >
          <img src="{{ user.photos[0] }}" />
          <div class="item-right">
            <span class="name">{{ user.name }}</span>
            <span class="last-message">{{ getLastMessage(user.id) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
