<div class="con">
  <div class="sidebar-top">
    <div class="profile-con">
      <img [src]="currentUser.photos[0]" />
      <span>{{ currentUser.name }}</span>
    </div>
  </div>
  <div class="sidebar-bottom">
    <nav>
      <ul>
        <li class="active" (click)="matches = true" [class.active]="matches">
          Matches
        </li>
        <li (click)="matches = false" [class.active]="!matches">Messages</li>
      </ul>
    </nav>
    <div class="matches-con">
      <div class="matches" *ngIf="matches">
        <div
          class="user-item"
          *ngFor="let user of usersMatch"
          (click)="selectedUser = user"
          [routerLink]="['messages', user.id]"
          [class.inactive]="selectedUser && selectedUser != user"
        >
          <img src="{{ user.photos[0] }}" alt="User {{ user.name }} photo" />
          <span class="name">{{ user.name }}</span>
        </div>
      </div>
      <div class="messages" *ngIf="!matches">
        <div
          class="user-message-item"
          *ngFor="let user of usersMessage"
          [routerLink]="['messages', user.id]"
          (click)="selectedUser = user"
          [class.inactive]="selectedUser && selectedUser != user"
          [class.active]="selectedUser && selectedUser == user"
        >
          <img src="{{ user.photos[0] }}" />
          <div class="item-right">
            <span class="name">{{ user.name }}</span>
            <span class="last-message">{{ _getLastMessage(user.id) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
