.con {
  background-color: black;
  width: 1000px;
}
:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.detail-con {
  width: calc(100% - 1000px);
}
.con.chess-game {
  min-width: 0;
  width: 100%;
}
/* =============TOP======== */

.top-bar {
  padding: 15px 20px;
  color: var(--gray);
  font-weight: 500;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--bg-border) 1px solid;
  border-top: none;
  border-right: none;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: white 2px solid;
  margin-right: 20px;
}

.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}
.close-btn > svg {
  fill: var(--gray);
}
.close-btn:hover {
  transform: rotate(-90deg);
}

/* ========Main========== */
.main-con {
  border-left: solid 1px var(--bg-border);
  overflow: hidden;
  overflow-y: scroll;
  margin-right: -20px;
  height: 80vh;
}
.no-messages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  height: 100%;
}
.no-messages > img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: 25px 0;
}
.bold {
  font-weight: bold;
}

.play-black {
  margin-left: 10px;
  background-color: var(--gray);
}
.play-white.active {
  background: var(--green-gradient) !important;
  color: black !important;
}
.play-black.active {
  background: var(--red-gradient) !important;
  color: black !important;
}
.chess-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chess-btns > button {
  margin: 5px;
  border-radius: 10px;
  background: var(--bg-main);
  color: var(--bg-border);
  font-size: 1.1rem;
  border: none;
  font-weight: 600;
  padding: 11px;
  transition: transform 0.3s;
}
.chess-btns > button:hover {
  transform: scale(1.1);
}

.messages {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
.message {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.message:has(.user) {
  align-items: end;
}
.user,
.pair {
  display: flex;
  margin-top: 15px;
  max-width: 80%;
}
.user {
  flex-direction: row-reverse;
}

.user .reaction {
  flex-direction: row-reverse;
}

.reaction {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reaction > button {
  background: transparent;
  border: none;
  width: 27px;
  display: flex;
  height: 27px;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  justify-content: center;
  position: relative;
  transition: background 0.2s;
}
.emotes {
  display: flex;
  position: fixed;
  padding: 5px 10px;
  z-index: 9;
  background-color: var(--bg-border);
  border-radius: 20px;
}
.emotes button {
  background: transparent;
  padding: 0;
  border: none;
  margin: 0 3px;
  transition: transform 0.1s;
}
.emotes button:hover {
  transform: scale(1.1);
}
.emotes button img {
  width: 35px;
  height: 35px;
  margin: 0;
}
.emotes button.active {
  transform: scale(1.25);
}

img.emoji-window {
  width: 35px;
  height: 35px;
  margin: 0;
  margin-top: -16px;
  margin-right: -12px;
  z-index: 9;
}
.pair img.emoji-window {
  align-self: flex-end;
}
.reaction > button:hover {
  background: var(--bg-border);
}
.reaction svg {
  width: 25px;
  height: 25px;
  stroke: white;
}

/* .user .reaction-window {
  align-self: flex-start;
} */
.pair span {
  display: block;
  padding: 8px 15px;
  position: relative;
  border-radius: 21px;
  background-color: var(--message-gray);
  border-bottom-left-radius: 4px;
}
.pair > div {
  display: flex;
  align-items: center;
  justify-content: start;
}

.user span {
  position: relative;
  background-color: var(--message-blue);
  padding: 8px 15px;
  border-radius: 21px;
  border-bottom-right-radius: 4px;
  display: block;

  overflow-wrap: anywhere;
}

.message-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.pair .message-text {
  align-items: flex-start;
}
.reaction-window {
  margin-bottom: -20px;
  background: var(--bs-body-color);
  padding: 11px 10px;
  min-height: 55px;
  color: var(--bg-border);
  font-size: 0.9rem;
  width: fit-content;
  overflow-wrap: anywhere;
  border-radius: 10px;
}
.info-message {
  font-size: 0.8rem;
  color: var(--gray);
  width: 100%;
  margin-top: 32px;
  margin-bottom: -6px;
  display: block;
  text-align: center;
}
.message-link {
  cursor: pointer;
}

/* =========Bottom========== */
.bottom-bar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--bg-border);
  border-bottom: none;
  position: relative;
  border-right: none;
}
input {
  width: 80%;
  margin-right: 10px;
  background-color: transparent;
  color: white;
  border: none;
}
input:focus {
  outline: none;
}
.bottom-bar > button {
  border-radius: 30px;
  padding: 10px 30px;
  background-color: var(--red);
  position: relative;
  color: white;
  text-transform: uppercase;
}
.bottom-bar > button:disabled {
  border: none;
  background-color: var(--bg-main);
  color: var(--bg-border);
}
.react-to {
  position: absolute;
  bottom: 100%;
  background-color: var(--bg-main);
  left: 0;
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
  right: 0;
  align-items: center;
}
.react-message {
  display: flex;
  flex-direction: column;
}
.react-message > span {
  margin: 0;
  text-align: start;
}

.games-window {
  position: fixed;
  top: 20vh;
  left: 50%;
  right: 0;
  max-width: 1000px;
  left: 0;
  background: var(--bg-main);
  margin: 0 auto;
  overflow: hidden;
  z-index: 300;
  border-radius: 10px;
}
.backdrop {
  position: fixed;
  inset: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}
.games-window > .close-btn {
  z-index: 400;
  position: fixed;
  top: 21vh;
  right: 31vw;
}
.top-bar-left {
  transition: background 0.3s;
  cursor: pointer;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  border-radius: 14px;
  align-items: center;
}

.top-bar-left:hover {
  background: var(--bg-main);
}
.new-game-con {
  position: absolute;
  inset: 0;
  z-index: 99;
  top: -55px;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.new-game-con > button {
  background: var(--bg-border);
  padding: 0 16px;
  transition: transform 0.1s;
}
.new-game-con > button:hover {
  transform: scale(1.1);
}
.new-game-con svg {
  width: 35px;
  height: 35px;
}
.button-white {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.button-black {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
@media only screen and (max-width: 600px) {
  .con.chess-game {
    display: grid;
    grid-auto-rows: 1fr auto;
  }
  :host {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .main-con {
    margin-right: 0;
  }
  .chess-game .main-con {
    margin-right: 0;
    height: auto;
  }
  .messages {
    padding: 12px;
  }
  .chess-game .top-bar {
    display: none;
  }
  .chess-game .main-con .messages {
    height: auto;
  }
  .chess-game .main-con {
    height: auto;
  }
  .chess-game .bottom-bar {
    height: 60px;
  }
}
