<div class="con" [class.chess-game]="chessGame">
  <div class="top-bar">
    <div class="top-bar-left">
      <img
        src="{{ matchedUser.photos[0] }}"
        alt="{{ matchedUser.name }} profile picture"
      />
      <span>You matched with {{ matchedUser.name }} on DATE</span>
    </div>
    <button class="close-btn" (click)="closeMessageWindow()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="Layer_1"
        x="0px"
        y="0px"
        width="121.31px"
        height="122.876px"
        viewBox="0 0 121.31 122.876"
        enable-background="new 0 0 121.31 122.876"
        xml:space="preserve"
      >
        <g>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z"
          />
        </g>
      </svg>
    </button>
  </div>
  <div class="main-con">
    <div class="no-messages" *ngIf="!messages">
      <span
        >You Matched with <span class="bold">{{ matchedUser.name }}</span></span
      >
      <span>DATE days ago</span>
      <img
        src="{{ matchedUser.photos[0] }}"
        alt="{{ matchedUser.name }} profile picture"
      />
      <div class="chess-btns">
        <button
          class="play-white"
          (click)="
            sendMessage(
              currentUser.name + ' invited you to a chess match! ',
              'system'
            );
            _createGame(currentUser.id, matchedUser.id)
          "
          routerLink="game"
        >
          Make a first move
        </button>
        <button
          class="play-black"
          (click)="
            sendMessage(
              currentUser.name + ' invited you to a chess match! ',
              'system'
            );
            _createGame(matchedUser.id, currentUser.id)
          "
          routerLink="game"
        >
          Invite them to move first
        </button>
      </div>
    </div>
    <div class="messages" *ngIf="messages?.content.length > 0">
      <div
        class="message"
        *ngFor="let message of messages.content; let i = index"
      >
        <span
          class="info-message"
          *ngIf="
            i == 0 ||
            messages.content[i].date - messages.content[i - 1].date > 60000000
          "
          >{{ _getDate(message.date) }}</span
        >
        <div class="pair" *ngIf="message.from == matchedUser.id">
          <div>
            <img
              class="profile-picture"
              src="{{ matchedUser.photos[0] }}"
              alt="profile picture"
            />
            <div class="message-text">
              <div class="reaction-window" *ngIf="message.reactionTo">
                {{ currentUser.name }} reacted to {{ message["reactionTo"] }}
              </div>
              <span> {{ message.text }}</span>
            </div>
          </div>
          <div class="reaction" (click)="_reactToMessage(i)">Reaction</div>
        </div>

        <div class="user" *ngIf="message.from == currentUser.id">
          <div class="reaction" (click)="_reactToMessage(i)">Reaction</div>
          <div class="message-text">
            <div class="reaction-window" *ngIf="message.reactionTo">
              {{ currentUser.name }} reacted to {{ message["reactionTo"] }}
            </div>
            <span> {{ message.text }}</span>
          </div>
        </div>

        <span class="info-message" *ngIf="message.from == 'system'">
          {{ message.text }}
          <a class="message-link">Open chess board</a>
        </span>
      </div>
    </div>
  </div>

  <form class="bottom-bar" (ngSubmit)="sendMessage(messageInput)">
    <input
      type="text"
      name="input"
      placeholder="Type a message"
      [(ngModel)]="messageInput"
      #input
      autocomplete="off"
    />

    <div class="react-to" *ngIf="reactTo">
      <div class="react-message">
        <span>Reacting to move:</span>
        <span class="info-message">{{ reactTo.target }}</span>
      </div>
      <button class="close-btn" type="button" (click)="reactTo = null">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          id="Layer_1"
          x="0px"
          y="0px"
          width="121.31px"
          height="122.876px"
          viewBox="0 0 121.31 122.876"
          enable-background="new 0 0 121.31 122.876"
          xml:space="preserve"
        >
          <g>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z"
            />
          </g>
        </svg>
      </button>
    </div>
    <button type="submit" class="bold" [disabled]="!messageInput">SEND</button>
  </form>
</div>
<div class="detail-con" *ngIf="!chessGame">
  <app-detail></app-detail>
</div>
