
:root{--bg-main:rgb(17,20,24);
  --text-main:white;
  --accent:black;
  --gray:rgb(141, 156, 172);
  --red:red;
  --red-gradient:linear-gradient(32deg, rgba(233,17,80,1) 0%, rgba(240,93,93,1) 48%, rgba(228,59,21,1) 100%);

  --green-gradient:linear-gradient(90deg, rgba(39,195,70,1) 0%, rgba(133,255,147,1) 75%, rgba(255,255,255,1) 100%);
  --green:green;
  --bg-border:rgb(141, 156, 172);
  --message-blue:#106bd5;
  --message-gray:#21262e;
}

body{
  overflow: hidden;
}

/*
green
background: rgb(39,195,70);
background: linear-gradient(90deg, rgba(39,195,70,1) 0%, rgba(133,255,147,1) 75%, rgba(255,255,255,1) 100%);
red
background: rgb(233,17,80);
background: linear-gradient(32deg, rgba(233,17,80,1) 0%, rgba(240,93,93,1) 48%, rgba(228,59,21,1) 100%);

*/
